@import "reset.css";
@import "typo.css";
@import "cursor.css";

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  cursor: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #64ffda;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
