@import "./styles/reset.css";
@import "./styles/typo.css";
@import "./variables.scss";

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: var(--slate);
}

a {
  text-decoration: none;
}

a:hover {
  color: #64ffda;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

main .global-section {
  display: flex;
  flex-direction: column;
  max-width: 64rem /* 1024px */;
  // min-height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  padding: 60px 0px;
  p {
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
  }
}

main .global-section h2 {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(26px, 5vw, var(--fz-heading));
  font-family: "Calibre Regular";
  color: #ccd6f6;
  font-weight: 600;

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
  }

  &::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: SF Mono Regular;
    font-size: 1.2rem;
    font-weight: 400;
    counter-increment: section 1;
  }
}
